@using SalamancaWeb.Models;
@model DocumentIdentityType
@{
    ViewBag.Title = "Detalle del Tipo de Documento Identidad";
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <dl class="dl-horizontal">
            <div class="row">
                <div class="col-12">
                    <dt>ID</dt>
                    <dd>@Model.idDocumentIdentityType</dd>
                </div>
                <div class="col-12">
                    <dt>Nombre</dt>
                    <dd>@Model.name</dd>
                </div>
                <div class="col-12">
                    <dt>Abreviacion</dt>
                    <dd>@Model.abbreviation</dd>
                </div>
                <div class="col-12">
                    <dt>Estado</dt>
                    <dd class="@(Model.status?"text-success":"text-danger")">@(Model.status?"Activo":"Inactivo")</dd>
                </div>
            </div>
        </dl>
    </div>
</div>