@using SalamancaWeb.Models;
@model Antecedent
@{
    ViewBag.Title = (Model.idAntecedent > 0 ? "Editar" : "Agregar") + " Antecedente";
    Layout = null;

    List<SelectListItem> inqueries = (List<SelectListItem>)ViewBag.inqueries;
    List<SelectListItem> antecedentTypes = (List<SelectListItem>)ViewBag.antecedentTypes;
}

@using(Html.BeginForm("Save", "Antecedent", FormMethod.Post, new { @id = "formulario", @autocomplete = "off" }))
{
    @Html.HiddenFor(m => m.idAntecedent)
    @Html.HiddenFor(m => m.dateRegistered)
    <div class="card">
        <div class="card-body">
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.inquery.idInquery)
                    @Html.DropDownListFor(model => model.inquery.idInquery, inqueries, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.antecedentType.idAntecedentType)
                    @Html.DropDownListFor(model => model.antecedentType.idAntecedentType, antecedentTypes, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.description)
                    @Html.TextBoxFor(model => model.description, new { @class = "form-control", @placeholder = "Descripcion" })
                </div>
            </div>
        </div>
        <div class="card-footer row">
            <div class="col-md-6">
                <button id="btnSave" data-message="@((Model.idAntecedent > 0 ? "Modificando" : "Agregando") + " Antecedentes!!!")" type="submit" class="btn btn-primary btn-block"><i class="fas fa-save"></i>  Guardar</button>
            </div>
            <div class="col-md-6">
                <button data-dismiss="modal" class="btn btn-danger btn-block">Cancelar</button>
            </div>
        </div>
    </div>
}
<script src="~/Assets/model/actions/addedit.js"></script>
<script>
    $(function () {
        $('#formulario').validate({
            rules: {
                'inquery.idInquery': {
                    required: true
                },
                'antecedentType.idAntecedentType': {
                    required: true
                },
                description: {
                    required: true,
                    maxlength: 255,
                    minlength: 5
                },
            },
            messages: {
                'inquery.idInquery': {
                    required: "Seleccione la Consulta de un Paciente",
                },
                'antecedentType.idAntecedentType': {
                    required: "Seleccione un Tipo de Antecedente",
                },
                description: {
                    required: "Ingresar Descripcion",
                    maxlength: "La Descripcion debe tener como máximo 100 caracteres",
                    minlength: "La Descripcion debe tener como minimo 5 caracteres"
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
        //DropDownList Select2
        var modalFather = $('#modalAntecedent');
        var cmbAntecedentType = $('#antecedentType_idAntecedentType');
        var cmbInquery = $('#inquery_idInquery');

        createCMB(cmbAntecedentType, "Seleccione Tipo de Antecedente", modalFather);
        createCMB(cmbInquery, "Seleccione una Consulta", modalFather);
        if (`@Model.idAntecedent` == 0)
        {
            clearSelection(cmbAntecedentType)
            clearSelection(cmbInquery)
        }
    });
</script>